:root {
  --primary-color: #6c63ff;
  --second-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --second-font-family: "Poppins", sans-serif;
}

body {
  margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
}

.hero p {
  color: var(--second-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  color: var(--second-color);
  font-family: var(--second-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.receptacle{
  padding: 160px 80px;
}

h1 {
  font-size: 96px;
  margin-bottom: 15px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-family: var(--second-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 24px
}

p {
  font-family: var(--second-font-family);
  font-weight: normal;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link{
  color: var(--second-color);
  font-family: var(--second-font-family);
  font-size: 16px;
  transition: all 100ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
  color: var(--primary-color);
}

.primary-link {
  background: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 50px;
}
.moreDetails-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.descriptions {
  font-size: 18px;
  line-height: 1.5;
  opacity: 70%;
  line-height: 30px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .hero, .receptacle {
  padding: 80px 20px;
}
  h1 {
    font-size: 44px;
  }
  .projectDescription h2 {
    font-size: 32px;
  }
  .projectDescription {
    padding: 0;
    text-align: center;
  }
  h2.headerWork{
    font-size: 32px;
  }
}