:root {
  --primary-color: #6c63ff;
  --second-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --second-font-family: "Poppins", sans-serif;
}

body {
  margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 40px 10px;
}

.hero p {
  color: var(--second-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  color: var(--second-color);
  font-family: var(--second-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.receptacle {
  padding: 60px 80px 160px;
}

h1 {
  font-size: 96px;
  margin-bottom: 15px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-family: var(--second-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 24px;
}

p {
  font-family: var(--second-font-family);
  font-weight: normal;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--second-color);
  font-family: var(--second-font-family);
  font-size: 16px;
  transition: all 100ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.primary-link {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 50px;
  transition: all 100ms ease-in-out;
}

.primary-link:hover{
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.moreDetails-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.moreDetails-link:hover {
  background-color: var(--primary-color);
  color: white;
}

.descriptions {
  font-size: 18px;
  line-height: 1.5;
  opacity: 70%;
  line-height: 30px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.contactBox {
  background-color: #f9f7fe;
  padding: 45px 20px;
  margin: 0 35px;
  border-radius: 6px;
}

.contactDescription {
  padding-left: 104px;
}

.contactLink {
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-family: var(--second-font-family);
  padding-top: 48px;
}

.email-link:hover {
  color: var(--primary-color);
}

.social_links a {
  text-align: center;
  color: var(--primary-color);
  font-size: 18px;
  margin: 40px 25px;
  transition: all 100ms ease-in-out;
}

.social_links a:hover {
  color: var(--second-color);
}

.codedBy {
  font-family: var(--second-font-family);
  font-size: 16px;
  line-height: 1.5;
  opacity: 80%;
}

.codedBy a{
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.codedBy a:hover{
  color: var(--second-color);
}

@media (max-width: 900px) {
  .hero,
  .receptacle {
    padding: 20px 40px 60px;
  }
  h1 {
    font-size: 44px;
  }
  h2.headerWork {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
  .descriptions {
    font-size: 10px;
    line-height: 2;
  }
  .getInTouch,
  .projectDescription h2 {
    font-size: 32px;
  }
  .projectDescription {
    padding: 0;
    text-align: center;
  }
  footer .contactBox {
    padding: 25px 20px;
    margin: 0 25px;
  }
  footer .contactDescription {
    padding-left: 5px;
  }
  footer .primary-link {
    font-size: 12px;
    line-height: 18px;
    padding: 12px 20px;
  }
  .email-link {
    font-size: 18px;
    padding-top: 0;
  }
  .codedBy{
    font-size: 12px;
    margin: 10px 15px;
  }
}
